name: Deploy to Remote Server

on:
  workflow_dispatch:
    inputs:
      branch_name:
        description: '请选择构建分支'
        required: true
        type: choice
        options:
          - dev
          - master
        default: dev  # 设置默认的分支名
      app_env:
        description: '请选择要构建到的项目环境'
        required: true
        type: choice
        options:
          - test
          - prod
        default: test
      use_cache:
        description: '是否使用镜像缓存构建'
        type: boolean
        default: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: executing remote ssh commands to develop
      uses: appleboy/ssh-action@master
      with:
        host: ${{ github.event.inputs.app_env == 'prod' && secrets.PROD_SSH_HOST || secrets.TEST_SSH_HOST }} # if-else
        username: ${{ github.event.inputs.app_env == 'prod' && secrets.PROD_SSH_USERNAME || secrets.TEST_SSH_USERNAME }}
        key: ${{ github.event.inputs.app_env == 'prod' && secrets.PROD_SSH_KEY || secrets.TEST_SSH_KEY }}
        command_timeout: "60m"
        script: |
          cd /
          chmod +x /usr/local/wujiaying/repos/egeek/build-git-pull.sh
          /usr/local/wujiaying/repos/egeek/build-git-pull.sh -branch_name ${{ github.event.inputs.branch_name }}
          # chmod +x /usr/local/wujiaying/repos/egeek/linux/shells/load-docker-images.sh
          # /usr/local/wujiaying/repos/egeek/linux/shells/load-docker-images.sh
          chmod +x /usr/local/wujiaying/repos/egeek/build.sh
          
          NO_CACHE_STRING=""
          if [ "${{ github.event.inputs.use_cache }}" = "false" ]; then
            NO_CACHE_STRING="--no-cache"
          fi

          APP_MAILER_PASSWORD="${{ secrets.MAILER_PASSWORD }}" \
          APP_BDY_ACCESS_KEY="${{ secrets.BDY_ACCESS_KEY }}" \
          APP_BDY_SECRET_KEY="${{ secrets.BDY_SECRET_KEY }}" \
          APP_JDY_ACCESS_KEY="${{ secrets.JDY_ACCESS_KEY }}" \
          APP_JDY_SECRET_KEY="${{ secrets.JDY_SECRET_KEY }}" \
          APP_OSS_ACCESS_KEY_ID="${{ secrets.OSS_ACCESS_KEY_ID }}" \
          APP_OSS_ACCESS_KEY_SECRET="${{ secrets.OSS_ACCESS_KEY_SECRET }}" \
          APP_MYSQL_ROOT_PASSWORD="${{ github.event.inputs.app_env == 'prod' && secrets.PROD_MYSQL_ROOT_PASSWORD || secrets.TEST_MYSQL_ROOT_PASSWORD }}" \
          APP_MYSQL_PASSWORD="${{ github.event.inputs.app_env == 'prod' && secrets.PROD_MYSQL_PASSWORD || secrets.TEST_MYSQL_PASSWORD }}" \
          APP_MYSQL_PASSWORD_${{ github.event.inputs.app_env }}="${{ github.event.inputs.app_env == 'prod' && secrets.PROD_MYSQL_PASSWORD || secrets.TEST_MYSQL_PASSWORD }}" \
          APP_REDIS_ROOT_PASSWORD="${{ github.event.inputs.app_env == 'prod' && secrets.PROD_REDIS_ROOT_PASSWORD || secrets.TEST_REDIS_ROOT_PASSWORD }}" \
          APP_REDIS_PASSWORD="${{ github.event.inputs.app_env == 'prod' && secrets.PROD_REDIS_PASSWORD || secrets.TEST_REDIS_PASSWORD }}" \
          APP_REDIS_PASSWORD_${{ github.event.inputs.app_env }}="${{ github.event.inputs.app_env == 'prod' && secrets.PROD_REDIS_PASSWORD || secrets.TEST_REDIS_PASSWORD }}" \
          /usr/local/wujiaying/repos/egeek/build.sh \
          -env ${{ github.event.inputs.app_env }} \
          ${NO_CACHE_STRING}
